{% load static %}
<!--  -->
<!DOCTYPE html>
<html lang="en" class="js has-scroll-init has-scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Discover the latest trends and deals at Ash Store - Your one-stop destination for fashion, accessories, and more."
    />
    <meta
      name="keywords"
      content="Ash Store, fashion, accessories, online shopping, clothing, discounts, deals"
    />
    <meta name="author" content="the_desiinger" />
    <link rel="icon" href="{% static '/images/favicon.svg' %}" />
    <title>Ash Store | Cart Page</title>

    <!-- Preload CSS -->
    <link href="{% static '/css/normalize.css' %}" />
    <link rel="preload" as="style" href="{% static '/css/cart.css' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/cart.css' %}" />

    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this work in a modern browser that supports CSS Variables."
        );
    </script>

    <script type="text/javascript">
      var user = "{{request.user}}";

      function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      const csrftoken = getToken("csrftoken");
    </script>
    <!--  -->
  </head>
  <body
    id="pageTop"
    class="page-content"
    data-spy="scroll"
    data-target="#mainNav"
  >
    <!--======================== Main-Section ================================-->
    {% include 'store/nav.html' %}
    <!-- end nav -->
    <main>
      <!--=========================================== smooth-scroll-effect ===============================-->
      <div data-scroll class="page page--layout-2" id="main">
        <div class="content content--full content--alternate"></div>
        <!-- End content -->

        <!--=========================================== Hero-Text ===============================-->
        <div id="hero">
          <div class="container">
            <div class="hero-intro">
              <h1><span>Cart Items( {{order.get_cart_items}} )</span></h1>
            </div>
            <!-- End hero-intro -->
          </div>
          <!-- End hero -->
        </div>
        <!-- End hero -->

        <!--===========================================  cart-section ===============================-->
        <div id="cart" class="d-flex mx-auto">
          <div class="container">
            <form action="" method="POST">
              {% csrf_token %}
              <div class="cart-intro">
                <div class="card">
                  <div class="card-body">
                    <div id="cart--details">
                      <div class="row" id="cart--row">
                        {% for item in items %}
                        <div class="col-md-5 align-self-center">
                          <img
                            src="{{item.product.imageURL}}"
                            class="img-fluid product--img d-flex mx-auto"
                            alt="product--img"
                          />
                        </div>
                        <!-- end col -->

                        <div class="col-md-6">
                          <div id="cart--details">
                            <h3>{{item.product.name}}</h3>
                            <p>${{item.product.price|floatformat:2}}</p>

                            <div id="action-btns">
                              <input
                                type="number"
                                class="form-control"
                                id="inputQuantity"
                                value="{{item.quantity}}"
                                disabled="true"
                              />

                              <h5>
                                Total: ${{ item.get_total|floatformat:2 }}
                                <button
                                  type="submit"
                                  class="btn mb-3"
                                  name="delete"
                                  value="{{item.id}}"
                                >
                                  <span>
                                    <img
                                      src="{% static '/images/bin.png' %}"
                                      class="img-fluid del--img"
                                      alt="del--img"
                                    />
                                    remove
                                  </span>
                                </button>
                              </h5>
                            </div>
                            <!-- end action-btns -->
                          </div>
                          <!-- end cart--details -->
                        </div>
                        <!-- end col -->
                        <hr class="d-flex mx-auto" id="divider--line" />
                        {% endfor %}
                      </div>
                      <!-- end row -->
                    </div>
                    <!-- end cart--details -->
                  </div>
                  <!-- end card-body -->
                </div>
                <!-- end card -->
              </div>
              <!-- end cart-intro -->

              <!-- pricing--section -->
              <div id="pricing--section">
                <h6>
                  Subtotal:
                  <span>${{order.get_cart_total|floatformat:2}}</span>
                </h6>
                <hr />

                <a href="{% url 'products' %}" class="btn">
                  <span>keep shopping</span>
                </a>
                <a href="{% url 'checkout' %}" class="btn checkout--btn">
                  Continue to checkout
                </a>
              </div>
              <!-- end pricing--section -->
              <!--  -->
            </form>
            <!-- end form -->
          </div>
          <!-- end container -->
        </div>
        <!-- end cart -->

        <!--=========================================== Footer-Text ===============================-->
        <footer>
          <hr />
          <p>ash.store ©2023 | all rights reserved</p>
        </footer>

        <!-- end footer -->
      </div>
      <!-- End page--layout -->
    </main>
    <!-- End Main-Section -->

    <!--=============================================== JavaScript ===================================-->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <!-- Custom Links -->
    <script src="{% static '/js/jquery-min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/cart.js' %}"></script>
  </body>
</html>
